{#
/**
 * @file
 * Tabs component - Contenedor de pestañas
 */
#}


{% set custom_class = css_class|default('') %}
{% set custom_id = html_id|default('') %}
{% set tabs_style = style|default('default') %}
{% set tabs_alignment = alignment|default('left') %}

{% set tabs_cva =
  html_cva(
    base: ['cats-tabs'],
    variants: {
      style: {
        default: 'tabs-default',
        pills: 'tabs-pills',
        underline: 'tabs-underline',
        boxed: 'tabs-boxed'
      },
      alignment: {
        left: 'justify-start',
        center: 'justify-center',
        right: 'justify-end'
      }
    }
  )
%}

{% set tabs_classes =
  tabs_cva.apply({
    style: tabs_style,
    alignment: tabs_alignment
  })
%}

<div class="{{ tabs_classes }} {{ custom_class }}"{% if custom_id %} id="{{ custom_id }}"{% endif %} data-cats-tabs>
  {% block tabs_content %}
  {% endblock %}
</div>
